.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1rem;
}
